@tailwind base;
@tailwind components;
@tailwind utilities;

.padding-section{
  @apply flex  flex-col items-center my-28;
}

:root {
  --primary-color: rgb(238, 238, 238);
  --secondary-color:  rgb(0, 0, 0);
  --tertiary-color: rgb(21, 57, 245);
}

body {
  @apply flex flex-col min-h-[100vh] bg-[--primary-color];
}

footer {
@apply mt-auto;
}

.container {
  @apply py-0 px-6 max-w-screen-xl my-0 mx-auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: 700;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 10px;
}

p {
  font-size: 20px
}